<div class="container">
    <div class="row">

        <div class="span6">
            <div class="register-info-wraper">
                <div id="register-info">
                    <h1>Foos your own destiny!</h1>
                    <ul dir="rtl">
                        <li>The most in depth foosball analytics on the planet</li>
                        <li>Create leagues to compete with friends and foes</li>
                        <li>Improve your game with accurate stat tracking</li>
                        <li>Completely free</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="span6">
            <div id="register-wraper">
                <form id="register-form" class="form">
                    <legend>Register to <span class="blue">FoosAlytics</span></legend>
                    <div class="body">
                        <div class="control-group control-inline">
                            <label for="name">First name</label>
                            <input name="name" class="input-medium" type="text">
                        </div>
                        <div class="control-group control-inline">
                            <label for="surname">Last name</label>
                            <input name="surname" class="input-medium" type="text">
                        </div>
                        <label>Username</label>
                        <input class="input-huge" name="username" type="text">
                        <label>E-mail</label>
                        <input class="input-huge" name="email" type="text">
                        <label>Password</label>
                        <input class="input-huge" name="password" type="text">
                    </div>
                    <div class="footer">
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox1"> I agree to foos until I lose
                        </label>
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<footer class="white navbar-fixed-bottom">
  Alread have an account? <a href="login" class="btn btn-black">Sign in</a>
</footer>
